/* Global reset */
*, *::before, *::after { 
   box-sizing: border-box;
}

body { 
   margin: 0;
   padding: 0;
   background-color: #FFEBCD;
   font-family: sans-serif;
   display: flex;
}

p {
   font-size: 1.2rem;
   color: #556B2F;
   width: 50%;
   border: 1px solid #DEB887;
}