/* Global reset */
*, *::before, *::after { 
   box-sizing: border-box;
}
body { 
   margin: 0;
   padding: 0;
   background: #FFEBCD;
   font-family: arial, sans-serif;
   font-size: 1.2rem;
   color: orangered;
}

